# Dependency & Package Manager
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build output
dist/
_site/
.cache/
.temp/
.vite/
.vite_opt_cache/
examples-temp/
*examples.md
docs/.vitepress/cache/


# Logs & Debugging
*.log
*.tgz
*.zip
*.timestamp-*.mjs

# Editor & OS files
.DS_Store
.idea/
.vscode/
Thumbs.db
*.swp
*.swo

# Misc
todos.md
coverage/
